<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulanton - Главная</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav>
        <ul class="left-menu">
            <li class="menu-item menu-item-active"><a href="#">Мои курсы</a></li>
            <li class="menu-item"><a href="#">Магазин</a></li>
            <li class="menu-item"><a href="#">Контакты</a></li>
            <li class="menu-item"><a href="#">О нас</a></li>
        </ul>
    </nav>
    <div class="logo">Ul  ton</div>
    <nav>
        <ul class="right-menu">
            <li class="menu-item login-btn"><a href="#">Войти</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="content-container">
        <h1><span style="color: #1496d8">Типа</span>
            <span style="color: #7756d3">крутой</span>
            <span style="color: #20c9ac">текст</span></h1>
        <!-- Всё, Ара, сюда короче весь твой код для тела страницы -->


        <br><br>
        <p>Ара, а ну попробуй окно сужай, увидишь какой красота сам делается, это Дипсик молодца такой</p>
        <p>У меня прям совсем базовый пониманий что происходит, но он столько CSS классов создал что ты лучше если что у него спрашивай</p>
        <br>
        <p>Шрифт Monseratt поставил, он мне нравится очень</p>

    </div>
</main>
</body>
</html>